<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  	<!-- Third-Party Libraries (Order matters) -->
    <script data-main="/app/config" src="/assets/js/libs/require.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Raleway|Enriqueta' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="home" class="module">
      <div class="modal" id="homemodal">
        <p>"There are three ways to be in the world:
          <p class="indent">1. To believe that we are each alone and separate from one another.
          <br>2. To realize that we are all connected. And
          <br>3. To realize that we are all one."</p>
            <p class="end">-Ram Dass</p></p>
      </div>
    </div>
    <div id="about" class="module"><div class="modal"></div></div>
    <div id="contact" class="module"></div>
    <div id="schedule" class="module"></div>
    <div id="heart" class="module"></div>

    <div id="header">
      <div id="header_padding">
        <a href="#about" id="nav_about">about</a>
        <a href="#contact" id="nav_contact">contact</a>
        <a href="#schedule" id="nav_schedule">schedule</a>
        <a href="#heart" id="nav_heart">heart</a>
      </div>
    </div>

    




    <div id="footer">
        <div id="jacquelinemyoga"> 
          <a href="#home" id="nav_home">jacquelineM yoga</a>
        </div>
       
        <div id="footer_links">
          <div class="col">
            <a href="mailto:jmisshula@gmail.com" class="email circle">
              <span></span>
            </a>
          </div>
          <div class="col">
            <a href="http://twitter.com/jacqueline_m" class="twitter circle">
              <span></span>
            </a>
          </div>
          <div class="col">
            <a href="http://facebook.com/jmisshula" class="facebook circle">
              <span>f</span>
            </a>
          </div>
        </div>
  </body>
</html>